.main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px;
  margin: 0 auto;
 width: 90%;
  background: #F3F3F3;
  max-width: 1800px;
}

@media (min-width: 768px) {
  .main-content {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px 28px;
  }
}

@media (min-width: 1024px) {
  .main-content {
    grid-template-columns: 2fr 5fr 3fr;
    gap: 24px;
    padding: 24px 40px;
  }
}
